{% extends "shop/base.html" %}

{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
  <div class="product-detail">
    <div class="col-sm-4">
      <img class="img-thumbnail"  src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h1><font size="6" color="#440B84" face="Segoe Print">{{ product.name }}</font></h1>
      <h2><a  href="{{ product.category.get_absolute_url }}"><font size="6" color="#9f2e72" face="monospace"> {{ product.category }}</font></a></h2>
      <p class="price"><font color="#440B84" >{{ product.price }} руб.</font></p>
  <form action="{% url "cart:CartAdd" product.id %}" method="post">
    <pre>  <font size="3" color="#9f2e72" face="monospace">{{ cart_product_form }}</font> </pre>    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Добавить в корзину">
  </form>
      </p>
      <span>
        <font size="3" color="#440B84" face="monospace"> <strong>{{ product.description | linebreaks}}</strong></font>
    </span>
<section><p>            </p></section>
    </div>

  </div>


<div class="col-sm-12">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Отзывы о товаре</h2>
  </div>
  <div class="panel-body">
<div class="well well-lg">
  {% for comment in comments %}
    <div class="comment">
        <p class="info">
            <font size="4" color="#9f2e72" face="monospace"><strong>Отзыв {{ forloop.counter }}</strong></font> пользователя {{ comment.name }}
            {{ comment.created }}
        </p>
        <font size="4" color="#440B84" face="Segoe Print">{{ comment.body|linebreaks }}</font>
    </div>
{% empty %}
    <p><font size="4" color="#440B84" face="Segoe Print">Еще нет ни одного отзыва</font></p>
{% endfor %}

{% if new_comment %}
    <h2><font size="5" color="#9f2e72" face="monospace">Оставьте первый отзыв</font></h2>
{% else %}
    <h2><font size="5" color="#9f2e72" face="monospace">Добавьте новый отзыв</font></h2>
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" class="btn btn-primary" value="Добавить"></p>
    </form>
{% endif %}

  </div>
</div>
</div>
  </div>




{% endblock %}
