{% extends "shop/base.html" %}
{% load static %}
{% block content %}


<div class="col-sm-4">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Регистрация</h2>
  </div>
  <div class="panel-body">
<div class="well well-lg">
    <h3></h3>
<form  method="post" action="">
    {% csrf_token %}
{#    {% bootstrap_form form %}#}
    {% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}

    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
    &nbsp;
    <br>
	<input type="submit" class="btn btn-primary" value="Зарегистрироваться" / class="clearfix">
</form>
  </div>
</div>
</div>
    </div>
{% endblock %}


